<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
	</configSections>

	<log4net>
		<appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
			<file value="logs\\WCF.log" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<datePattern value="yyyyMMdd" />
			<maxSizeRollBackups value="10" />
			<maximumFileSize value="10MB" />
			<staticLogFileName value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="RollingFile" />
		</root>
	</log4net>

	<connectionStrings>
		<add name="geoDB" connectionString="Server=10.0.1.207\sql2k16;Database=gServer_dev_DB;User=sa;Password=ekgis@2907;" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.5.1" />
		<httpRuntime targetFramework="4.5.1" maxRequestLength="102400" executionTimeout="3600" />
	</system.web>

	<system.serviceModel>
		<services>
			<service name="gServer_0._0._1.Services.LayerService">
				<endpoint address="" behaviorConfiguration="webHttpBehavior"
				 binding="webHttpBinding" bindingConfiguration="customWebBinding"
				 name="layer" contract="gServer_0._0._1.IServices.ILayerService" />
			</service>
			<service name="gServer_0._0._1.Services.LayerStyleService">
				<endpoint address="" behaviorConfiguration="webHttpBehavior"
				 binding="webHttpBinding" bindingConfiguration="customWebBinding"
				 name="layerStyle" contract="gServer_0._0._1.IServices.ILayerStyleService" />
			</service>
			<service name="gServer_0._0._1.Services.AuthService">
				<endpoint address="" behaviorConfiguration="webHttpBehavior"
				 binding="webHttpBinding" bindingConfiguration="customWebBinding"
				 name="auth" contract="gServer_0._0._1.IServices.IAuthService" />
			</service>
			<service name="gServer_0._0._1.Services.UserManagementService">
				<endpoint address="" behaviorConfiguration="webHttpBehavior"
				 binding="webHttpBinding" bindingConfiguration="customWebBinding"
				 name="userMgmt" contract="gServer_0._0._1.IServices.IUserManagementService" />
			</service>
		</services>

		<bindings>
			<webHttpBinding>
				<binding name="customWebBinding"
	   maxReceivedMessageSize="104857600"
	   maxBufferSize="104857600"
	   maxBufferPoolSize="104857600">
					<readerQuotas maxDepth="32"
	      maxStringContentLength="104857600"
	      maxArrayLength="104857600"
	      maxBytesPerRead="104857600"
	      maxNameTableCharCount="104857600" />
					<security mode="None" />
				</binding>
			</webHttpBinding>
		</bindings>

		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp helpEnabled="true" defaultBodyStyle="Bare" defaultOutgoingResponseFormat="Json"/>
				</behavior>
			</endpointBehaviors>

			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
					<serviceDebug includeExceptionDetailInFaults="true"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>

		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
	</system.serviceModel>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>

		<httpProtocol>
			<customHeaders>
				<!--<add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Headers" value="Content-Type, Accept, Authorization" />
				<add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />-->
			</customHeaders>
		</httpProtocol>
		<!--<defaultDocument>
			<files>
				<add value="index.html"/>
			</files>
		</defaultDocument>-->
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
	</system.webServer>

</configuration>
